<h2>Registros</h2>

<ul>
    {{#each users}}
    <li>
        Usuario registrado <br>
      Nombre:  {{name}} <br> 
      Email:   {{email}}  <br>
      Rol:   {{role}}<br>
      <!--
    <form action="/delete" method="post">
        <input type ="submit" value="DELETE">
    	</form>
-->
    </li>
   
    {{/each}}

</ul>


